<br>
<br>  
<br/>
Search : <input type="text" class="form-control" [(ngModel)]="searchText">  
<br>
<br>  
<br/>
<br/>
<div class="container">
    <table class="table">
      <thead>
        <tr>
            <th>id</th>
          <th>fullname</th>
          <th>Email</th>
          <th>password</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor = 'let employee of this.employeeslist'>empService_ -->
        <tr *ngFor = "let employee of empService_.list | samplePipe:searchText:'fullname'">
                <td>{{employee.id}}</td>  
          <td>{{employee.fullname}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.password}}</td>
          <td>
            <button type="submit" class="btn btn-primary"  (click)="onEdit(employee)">Edit</button>
            <button type="submit" class="btn  btn-danger"(click) = 'onDelete(employee)'>Delete</button>
            <button type="submit" class="btn  btn-danger"(click) = 'samplePipecall(employee)'>PipeValue</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- samplePipecall -->
