

<div class="container">

    <h5><a class="same" routerLink = "/Create" routerLinkActive ="active">Create</a></h5>

    <h5><a class="same"  routerLink = "/List" routerLinkActive ="active">List</a></h5>
    <h5><a class="same" routerLink = "/Datashare" routerLinkActive ="active">datashare</a></h5>

    <h5><a class="same"  routerLink = "/child" routerLinkActive ="active">child</a></h5>
    <h5><a class="same"  routerLink = "/Comp_Comp" routerLinkActive ="active">Comp_Comp</a></h5>
    <!--Customers Comp_Comp -->
<div>


<!-- <app-employees></app-employees> -->
<router-outlet></router-outlet>
<br>

<p appAppshadow>From directive side</p>

<br>
<br>